{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    {% include 'web_app/headLinks.html' %}

    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    
    <link href="{% static 'css/highlight.css' %}" rel="stylesheet">
</head>

<body>

    {% include 'web_app/header.html' %}
 
    {% include 'web_app/bradcam.html' %}
  

    <div class="about_info_area plus_padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="about_text">
                        <h3>Why our Consulting?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco.consectetur adipiscing elit.</p>
                            <a href="#" class="boxed-btn3">About Us</a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about_thumb">
                        <img src="{% static 'img/aboutus.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
  

    <div class="wrap">
        <div class="container-fixed stacked-cards stacked-cards-slide">
            <h3 id="services">Our Specialities</h3>
            <ul>
                <li>
                    <div class="card-image">
                        <img src="{% static 'img/robot.png' %}" alt="">
                    </div>
                    <div class="card-content">
                        <h3>Machine Learning</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    
                </li>

                <li>
                    <div class="card-image">
                        <img src="{% static 'img/artificial-intelligence.png' %}" alt="">
                    </div>
                    <div class="card-content">
                        <h3>Deep Learning</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </li>

				<li>
                    <div class="card-image">
                        <img src="{% static 'img/predictive-chart.png' %}" alt="">
                    </div>
                    <div class="card-content">
                        <h3>Predictive Analysis</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </li>

				<li>
                    <div class="card-image">
                        <img src="{% static 'img/eye.png' %}" alt="">
                    </div>
                    <div class="card-content">
                        <h3>Image Processing</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div> 
                </li>
            </ul>
        </div>
    </div>

  
    {% include 'web_app/team.html' %}
   
    {% include 'web_app/cta.html' %}
   
    {% include 'web_app/footer.html' %}

    {% include 'web_app/scriptLinks.html' %}

    <script src="{% static 'js/stackedCards.min.js' %}"></script>

    
    <script>
        var stackedCardSlide = new stackedCards({
		 	selector: '.stacked-cards-slide',
		 	layout: "slide",
		 	transformOrigin: "center",
		 });

		stackedCardSlide.init();
    </script>
  
</body>

</html>