<div class="Information_area overlay">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-8">
                <div class="info_text text-center">
                    <h3>For Any Information Call Us</h3>
                    <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    <a class="boxed-btn3" href="#">+91 00000 00000</a>
                </div>
            </div>
        </div>
    </div>
</div>